<template>
    <button type="button"
            id="top"
            class="col-sm-12 col-md-4 btn"
            :class="btnClass"
            @click.prevent="submit"
            :disabled="autoDisabled ? count > 0 : false">
        <span>{{ text.toUpperCase() }}</span>
        <span v-if="count"> ({{ count }}) </span>
    </button>
</template>

<script>
export default {
  name: 'ButtonCustom',
  props: {
    count: Number,
    text: {
      type: String,
      Required: true,
    },
    autoDisabled: {
      type: Boolean,
      Required: true,
    },
    btnClass: {
      type: String,
      default: 'btn-primary',
    },
  },
  methods: {
    submit() {
      this.$emit('click', true);
    },
  },
};
</script>

<style scoped>
    button {
        margin: 5px 10px;
        max-width: 220px;
    }
</style>
