<template>
    <div v-if="datas.length > 0" :class="tableClass">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ Object.keys(datas[0])[0] }}</th>
                <th>{{ Object.keys(datas[0])[1] }}</th>
                <th>{{ Object.keys(datas[0])[2] }}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-bind:key="index" v-for="(data, index) in this.datas">
                <td v-bind:key="index" v-for="(row, index) in data">{{ row }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div v-else class="dp-users-container">
        No {{ name }} found!
    </div>
</template>

<script>
export default {
  name: 'TableList',
  props: {
    datas: {},
    name: String,
    tableClass: {
      type: String,
      default: 'col-sm-12 col-md-6',
    },
  },
};
</script>
