<template>
  <div class="dp-container">
    <img alt="Deputy Logo"
         class="deputy-logo"
         src="https://picksaas.com/storage/app/uploads/public/59b/8eb/654/thumb_917_1200x630_0_0_auto.png">
      <div class="dp-button-container col-12">
          <div class="row dp-button-row-container">
              <button-custom id='btn-users'
                             text="Add Default Users"
                             :count="total.users"
                             :autoDisabled="true"
                             @click="setUsers"></button-custom>
              <button-custom text="Add  Default Roles"
                             :count="total.roles"
                             :autoDisabled="true"
                             @click="setRoles"></button-custom>
              <button-custom text="Reset Firestore"
                             :autoDisabled="false"
                             class="btn-danger"
                             @click="resetDB"></button-custom>
          </div>
      </div>
      <div v-if="this.users.length > 0 || this.roles.length > 0" class="col-12 dp-data-container">
          <table-list name="users" :datas="this.users"></table-list>
          <table-list name="roles" :datas="this.roles"></table-list>
      </div>
      <div class="col-12 dp-select-container">
          <label v-if="roles.length > 0"
                 for="select-user"
                 class="dp-select">
              <select v-if="users.length > 0"
                      @change="select"
                      id="select-user">
                  <option value="" disabled selected>Select user to see subordinates</option>
                  <option v-bind:key="index"
                          v-for="(user, index) in users"
                          :value="users[index].Role">{{ user.Name }}</option>
              </select>
          </label>
      </div>
      <div class="col-12" v-if="roles.length > 0 && users.length > 0">
          <table-list name="subordinates"
                      :datas="result"
                      tableClass="col-sm-12"></table-list>
      </div>
  </div>
</template>

<script>
import * as Roles from './models/Roles';
import * as Users from './models/Users';

export default {
  data() {
    return {
      usersDefault: [
        {
          Id: 1,
          Name: 'Adam Admin',
          Role: 1,
        }, {
          Id: 2,
          Name: 'Emily Employee',
          Role: 4,
        },
        {
          Id: 3,
          Name: 'Sam Supervisor',
          Role: 3,
        },
        {
          Id: 4,
          Name: 'Mary Manager',
          Role: 2,
        },
        {
          Id: 5,
          Name: 'Steve Trainer',
          Role: 5,
        },
      ],
      rolesDefault: [
        {
          Id: 1,
          Name: 'System Administrator',
          Parent: 0,
        }, {
          Id: 2,
          Name: 'Location Manager',
          Parent: 1,
        },
        {
          Id: 3,
          Name: 'Supervisor',
          Parent: 2,
        },
        {
          Id: 4,
          Name: 'Employee',
          Parent: 3,
        },
        {
          Id: 5,
          Name: 'Trainer',
          Parent: 3,
        },
      ],
      users: [],
      roles: [],
      total: {
        roles: 0,
        users: 0,
      },
      result: [],
    };
  },
  methods: {
    select(event) {
      this.getSubOrdinates(event.target.value);
    },
    // we are looping through the roles to find the id
    // we are doing this in case the ids are not constant in the DB
    // this may happen if a role has been deleted then add again,
    // in this case id could be a different number than the actual index in the array
    // ex: System Administrator could be id 5 but at the first position in the array
    // and Location Manager could be id 6 but at the second position in the array etc..
    // so if we were assuming that id 1 is at index 0
    // id 5 should be at index 4 which may be wrong
    findParentRoleInArray(role) {
      let parentRole = 0;
      this.roles.find((data) => {
        if (data.Id.toString() === role.toString()) {
          parentRole = data.Parent;
          return true;
        }
        return false;
      });
      return parentRole;
    },
    // get roles from firestore if any set
    getRoles() {
      return Roles.getRoles().then((roles) => {
        this.roles = roles;
        return true;
      });
    },
    // get users from firestore if any set
    getUsers() {
      return Users.getUsers().then((users) => {
        this.users = users;
        return true;
      });
    },
    // set the initial roles to firebase
    setRoles() {
      // we loop through all roles to add the object
      // then we get the total of roles
      return Roles.setRoles(this.rolesDefault).then((roles) => {
        this.roles = roles;
        this.totalRoles();
        return true;
      });
    },
    // set the initial users to firebase
    setUsers() {
      // we loop through all users to add the object
      // then we get the total of users
      return Users.setUsers(this.usersDefault).then((users) => {
        this.users = users;
        this.totalUsers();
        return true;
      });
    },
    // get the number of items in the roles collection in firestore
    totalRoles() {
      return Roles.totalItems().then((total) => {
        this.total.roles = total;
        return true;
      });
    },
    // get the number of items in the users collection in firestore
    totalUsers() {
      return Users.totalItems().then((total) => {
        this.total.users = total;
        return true;
      });
    },
    // get all subordinates of the role
    getSubOrdinates(id) {
      // get the parent role from the role id
      const parentRole = this.findParentRoleInArray(id);
      // we reset the result to make sure we are on a new array before pushing
      this.result = [];
      // filter the users array to only select the corresponding user with the correct parent role
      this.result = this.users.filter(data => this.findParentRoleInArray(data.Role) > parentRole);
    },
    resetDB() {
      // remove collection from firestore
      Users.deleteCollection().then(() => this.totalUsers());
      Roles.deleteCollection().then(() => this.totalRoles());
      // clear users/roles array
      this.users = [];
      this.roles = [];
      this.result = [];
    },
  },
  mounted() {
    // fetch data from firestore in case we have already set the data
    this.getRoles();
    this.getUsers();
    // get total of roles/users already in firestore
    this.totalRoles();
    this.totalUsers();
  },
};
</script>

<style>
    .dp-container {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .deputy-logo {
        width: 300px
    }
    .dp-button-container {
        display: flex;
        justify-content: center;
        margin: 40px 0;
    }
    .dp-button-row-container {
        justify-content: center;
        width: 100%;
    }
    .dp-select-container {
      display: flex;
        justify-content: center;
        margin-top: 20px
    }
    .dp-select {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .dp-data-container {
        display: flex;
    }
    .dp-users-container, .dp-roles-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
